<html>

<head>
  <title>Price Dropped for {{productName}}</title>
</head>

<body>
  <div>
    <span style="font-weight: bold;">{{productName}} reached your {{targetPrice}}</span>
    <span> Current Price is {{price}}</span>
    <span><a href={{productLink}}>Buy Now</a></span>
  </div>
</body>

</html>